<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Briskpe-Web-Only-Suite">
  <listeners>
    <listener class-name="com.briskpe.framework.utils.TestListener"/>
  </listeners>

  <test name="Web">
    <parameter name="platform" value="WEB"/>
    <classes>
      <class name="com.briskpe.tests.LoginTest"/>
      <class name="com.briskpe.tests.DashBoardTest"/>
    </classes>
  </test>
</suite>
