<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Android Suite" verbose="1" parallel="none">
  <parameter name="platform" value="ANDROID"/>
  <parameter name="browser" value=""/> <!-- empty if testing native app -->
  <parameter name="deviceName" value="RZ8M43K8GJY"/> <!-- or your real device udid -->

  <test name="Dashboard Tests on Android">
    <classes>
<!--      <class name="com.briskpe.tests.DashBoardTest"/>-->
          <class name="com.briskpe.tests.SignUpTest"/>

    </classes>
  </test>
</suite>
