<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Briskpe Cross-Platform and Cross-Browser Suite" parallel="tests" thread-count="5">

  <!-- Android Mobile Web test (Chrome on Android) -->
  <test name="Android-Mobile-Web-Test">
    <parameter name="platform" value="ANDROID"/>
    <parameter name="deviceName" value="RZ8M43K8GJY"/>
    <parameter name="mweb.device" value="android"/>
    <parameter name="browser" value="chrome"/>
    <classes>
      <class name="com.briskpe.tests.DashBoardTest"/>
      <!-- add other mobile web tests here -->
    </classes>
  </test>

  <!-- other tests can remain as is -->

</suite>
